@import 'loadface-config';

@mixin circle-loadface {
  height: $loadface-size;
  width: $loadface-size;
  border-radius: 50%;
}

@function percent-of-loadface-size($percent) {
  @return ($percent * $loadface-size) / 100
}