$body-bg-color: #f9f9f9;
$intro-bg-color: #387F71;
$single-bg-color: #1abc9c;

body {
  font-family: 'Roboto', sans-serif;
  background-color: $body-bg-color;
  color: #E0F2F1;
  margin: 0;
}

.card {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 25px;
  margin-bottom: 10px;
}

.intro {
  background-color: $intro-bg-color;
  padding: 15vh 15vw;
  text-align: center;
  margin: 20px;
}

.logo {
  width: 40vw;
  display: block;
  margin: 0 auto 35px auto;
}

h1, h2 {
  text-align: center;
  text-transform: uppercase;
}

.simple-container {
  background-color: $single-bg-color;
}

.loadface-container {
  width: 66vw;
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} 

.loadface {
  height: 200px;
  min-width: 200px;
  border-radius: 50%;
  background-color: #fff;
  
  margin: 20px 50px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3); 
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}