.loader1 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ec644b;
  animation: loader1 2s infinite ease-in-out; }

@keyframes loader1 {
  0%, 20%, 40%, 60%, 100% {
    transform: scale(0.2);
    opacity: 0; }
  10%, 30%, 50% {
    transform: scale(1);
    opacity: 1; } }
.loader2 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 6px solid #eeeeee;
  border-top-color: #bfbfbf;
  border-bottom-color: #bfbfbf;
  animation: loader2 1.5s infinite ease-in-out; }

@keyframes loader2 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(540deg); } }
.loader3 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #90c695;
  animation: loader3 1s infinite ease-in-out; }

@keyframes loader3 {
  0% {
    transform: scale(0);
    opacity: 1; }
  100% {
    tansform: scale(1);
    opacity: 0; } }
.loader4 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ec644b;
  animation: loader4 2s infinite ease-in-out; }

@keyframes loader4 {
  0%, 100% {
    filter: blur(0); }
  50% {
    filter: blur(15px); } }
.loader5 {
  height: 50px;
  width: 50px;
  animation: loader5 5s infinite linear; }

@keyframes loader5 {
  0% {
    transform: perspective(180px) rotateX(0deg) rotateY(0deg);
    background-color: #f4d03f; }
  25% {
    transform: perspective(180px) rotateX(-180deg) rotateY(0deg);
    background-color: #52b3d9; }
  50% {
    transform: perspective(180px) rotateX(-180deg) rotateY(180deg);
    background-color: #ec644b; }
  75% {
    transform: perspective(180px) rotateX(-360deg) rotateY(180deg);
    background-color: #68c3a3; }
  100% {
    transform: perspective(180px) rotateX(-360deg) rotateY(360deg);
    background-color: #f4d03f; } }
.loader6 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  animation: loader6 1.5s infinite linear; }

@keyframes loader6 {
  0%, 20%, 100% {
    transform: translate(-20px, -20px);
    background-color: #f5d76e; }
  25%, 45% {
    transform: translate(20px, -20px);
    background-color: #4183d7; }
  50%, 70% {
    transform: translate(20px, 20px);
    background-color: #d64541; }
  75%, 95% {
    transform: translate(-20px, 20px);
    background-color: #26a65b; } }
.loader7 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0);
  border-top-color: 4px solid #7fc4d1;
  border-right-color: 4px solid #7fc4d1;
  animation: loader7 3s infinite linear; }

@keyframes loader7 {
  0% {
    transform: rotate(0deg);
    border-top-color: #7fc4d1;
    border-right-color: #7fc4d1; }
  50% {
    border-top-color: #1f4f58;
    border-right-color: #1f4f58; }
  100% {
    transform: rotate(720deg);
    border-top-color: #7fc4d1;
    border-right-color: #7fc4d1; } }
.loader8 {
  position: relative;
  height: 50px;
  width: 50px;
  border: 8px solid #A2DED0;
  border-radius: 50%;
  animation: loader8 2s infinite linear; }
  .loader8:before {
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #16A085;
    position: absolute;
    top: -7px;
    left: 14px; }

@keyframes loader8 {
  100% {
    transform: rotate(360deg); } }
.loader9 {
  height: 50px;
  width: 50px;
  background-color: #d35400;
  animation: loader9 1s infinite linear; }

@keyframes loader9 {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-181deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

/*# sourceMappingURL=loadface.css.map */
