@import 'spinner-config';

.circuit {
  position: relative;
  @include circle-spinner;
  border: 8px solid $first-color;
  animation: circuit 2s infinite linear; 

  &:before { 
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: $second-color;
    position: absolute;
    top: -7px;     
    left: 14px;
  }
}     
@keyframes circuit {   
  100% {
    transform: rotate(360deg)
  }
}
