@import 'spinner-config';

.spinning-borders {
  @include circle-spinner;
  border: 6px solid $first-color;
  border-top-color: $second-color;
  border-bottom-color: $second-color;
  animation: spinning-borders 1.5s infinite ease-in-out;
}

@keyframes spinning-borders {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(540deg);
  }
}  
