@import 'spinner-config';

.what-goes-around {
  height: $spinner-size - 30px;;
  width: $spinner-size - 30px;
  border-radius: 50%;
  animation: what-goes-around 1.5s infinite linear;
}
$translate-dimension: $spinner-size - 30px;
@keyframes what-goes-around {
  0%, 20%, 100% {
    transform: translate(-$translate-dimension, -$translate-dimension);
    background-color: $first-color;
  }
  25%, 45% {
    transform: translate($translate-dimension, -$translate-dimension);
    background-color: $second-color;
  }
  50%, 70% {
    transform: translate($translate-dimension, $translate-dimension);
    background-color: $third-color;
  }
  75%, 95% {
    transform: translate(-$translate-dimension, $translate-dimension);
    background-color: $fourth-color;
  }
}
