@import 'helper';
@import 'spinner-config';

.circuit {
  position: relative;
  @include circle-spinner;
  border: percent-of-spinnersize(16) solid $second-color;
  animation: circuit 2s infinite linear; 

  &:before { 
    content: '';
    height: percent-of-spinnersize(16);
    width: percent-of-spinnersize(16);
    border-radius: 50%;
    background-color: $first-color;
    position: absolute;
    top: - percent-of-spinnersize(7);     
    left: percent-of-spinnersize(14);
  }
}     
@keyframes circuit {   
  100% {
    transform: rotate(360deg)
  }
}