@import 'loadface-config';

.color-cube {
  height: $loadface-size;
  width: $loadface-size;
  animation: color-cube 5s infinite linear;
}
@keyframes color-cube {
  0% {
    transform: perspective(180px) rotateX(0deg) rotateY(0deg);
    background-color: $first-color;
  }
  25% {
    transform: perspective(180px) rotateX(-180deg) rotateY(0deg);  
    background-color: $second-color;
  }
  50% {
    transform: perspective(180px) rotateX(-180deg) rotateY(180deg);  
    background-color: $third-color;
  }
  75% {
    transform: perspective(180px) rotateX(-360deg) rotateY(180deg);  
    background-color: $fourth-color;
  }
  100% {
    transform: perspective(180px) rotateX(-360deg) rotateY(360deg);  
    background-color: $first-color;
  }
}
