@import 'helper';
@import 'loadface-config';

.drunk-cyclops {
  @include circle-loadface;
  background-color: $first-color;
  animation: drunk-cyclops 2s infinite ease-in-out;
}
  
@keyframes drunk-cyclops {
  0%, 100% {
    filter: blur(0);
  }
  50% {
    filter: blur(15px);
  }
}
