@import 'helper';
@import 'loadface-config';

.soft-pulse {
  @include circle-loadface;
  background-color: $first-color;
  animation: soft-pulse 1s infinite ease-in-out;
}
   
@keyframes soft-pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}  
