@import 'helper';
@import 'loadface-config';

.spinning-borders {
  @include circle-loadface;
  border: percent-of-loadface-size(12) solid $first-color;
  border-top-color: $second-color;
  border-bottom-color: $second-color;
  animation: spinning-borders 1.5s infinite ease-in-out;
}

@keyframes spinning-borders {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(540deg);
  }
}  
