@import 'helper';
@import 'loadface-config';

.two-face {
  @include circle-loadface;  
  border: percent-of-loadface-size(8) solid rgba(255,255,255,0);
  animation: two-face 3s infinite linear;
}
@keyframes two-face {
  0% {
    transform: rotate(0deg);
    border-top-color: $first-color;
    border-right-color: $first-color;
  }
  50% {
    border-top-color: $second-color;
    border-right-color: $second-color;
  }
  100% {
    transform: rotate(720deg);
    border-top-color: $first-color;
    border-right-color: $first-color;
  }
}
